<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/global.css">
    <link rel="stylesheet" href="css/grid.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <header class="full-width row jc-center ai-center t-center">
        <div class="col-6">
            <h1 class="t-red">HELLO RWD!!!</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, tempore?</p>
            <a href="#" class="btn bg-blue t-dark">More</a>
            <a href="#" class="btn bg-dark t-white">Sign up</a>
        </div>
    </header>
</body>
</html>