<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />
    <link rel="stylesheet" href="css/global.css">
    <link rel="stylesheet" href="css/grid.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
        <header class="full-width row jc-center ai-center t-center">
            <div class="col-6">
                <h1>HELLO RWD!!!</h1>
                <p class="my3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, tempore?</p>
                <a href="#" class="btn bg-blue t-dark">More</a>
                <a href="#" class="btn bg-dark t-white">Sign up</a>
            </div>
        </header>
        <div class="fixed-width row t-center" id="about">
            <div class="col-12 mb3">
                <h2 class="mb1">About</h2>
                <hr>
            </div>
            <div class="col-3">
                <div><i class="fas fa-code fa-3x t-red"></i></div>
                <h3 class="mt2">title</h3>
                <p class="my2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus, non.</p>
                <a href="#" class="btn bg-red">More</a>
            </div>
            <div class="col-3">
                <div><i class="fas fa-handshake fa-3x t-blue"></i></div>
                <h3 class="mt2">title</h3>
                <p class="my2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus, non.</p>
                <a href="#" class="btn bg-red">More</a>
            </div>
            <div class="col-3">
                <div><i class="fas fa-pepper-hot fa-3x t-red"></i></div>
                <h3 class="mt2">title</h3>
                <p class="my2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus, non.</p>
                <a href="#" class="btn bg-red">More</a>
            </div>
            <div class="col-3">
                <div><i class="fas fa-pepper-hot fa-3x t-blue"></i></div>
                <h3 class="mt2">title</h3>
                <p class="my2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus, non.</p>
                <a href="#" class="btn bg-red">More</a>
            </div>
        </div>
        <div id="product" class="full-width row no-padding">
            <div class="col">
                <a href="#">
                    <img src="https://picsum.photos/id/69/400/300" class="w100">
                </a>
            </div>
            <div class="col">
                <a href="#">
                    <img src="https://picsum.photos/id/29/400/300" class="w100">
                </a>
            </div>
            <div class="col">
                <a href="#">
                    <img src="https://picsum.photos/id/39/400/300" class="w100">
                </a>
            </div>
            <div class="col">
                <a href="#">
                    <img src="https://picsum.photos/id/49/400/300" class="w100">
                </a>
            </div>
            <div class="col">
                <a href="#">
                    <img src="https://picsum.photos/id/59/400/300" class="w100">
                </a>
            </div>
        </div>
      


    </body>
    </html>