* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: "Gill Sans MT","Microsoft Jhenghei";
}
table {
    border-collapse: collapse;
}

img {
    width: 100%;
}
.w100 {
    width: 100%;
}

.jc-center {
    justify-content: center;
}
.jc-start {
    justify-content: start;
}
.jc-end {
    justify-content: end;
}
.jc-around {
    justify-content: space-around;
}
.jc-between {
    justify-content: space-between;
}
.ai-center {
    align-items: center;
}
.ai-start {
    align-items: start;
}
.ai-end {
    align-items: end;
}
.t-left {text-align: left;}
.t-center {text-align: center;}
.t-right {text-align: right;}
.t-justify {text-align: justify;}

/* btn */
.btn {
    display: inline-block;
    text-decoration: none;
    background-color: #ccc;
    padding: 10px 30px;
    font-size: 16px;
    border-radius: 5px;
    color: #000;
}
/* color */
.bg-blue {background-color: #0890ff;}
.bg-white {background-color: #fff;}
.bg-light {background-color: #dfdfdf;}
.bg-black {background-color: #000;}
.bg-dark {background-color: #1b1b1b;}

.t-blue {color:#0890ff;}
.t-white {color:#fff;}
.t-light {color:#dfdfdf;}
.t-black {color:#000;}
.t-dark {color:#1b1b1b;}
