nav {
    width: 100%;
    height: 60px;
    /* background-color: #060930; */
    background-color: rgba(6, 9, 48, 0.8);
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
}
.nav-logo {
    padding-left: 15px;
    padding-right: 15px;
    text-decoration: none;
    color: #ececec;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 1.2em;
}
.nav-button {
    display: none;
}
.nav-toggle-menu {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.nav-menu {
    display: flex;
}
.nav-link {
    text-decoration: none;
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    color: #ececec;
    position: relative;
}
.nav-link::after {
    content:"";
    border-bottom: 2px solid #ececec;
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    transform-origin: left;
    left: 0;
    bottom: -5px;
    transition: 400ms;
}
.nav-link:hover::after {
    transform: scaleX(1);
}




header {
    background: url("https://picsum.photos/id/90/1600/800") center center no-repeat;
    background-size: cover;
    height: 800px;
}
header h1 {
    font-size: 80px;
}
header p {
    font-size: 22px;
}

/* about */
#about {
    padding-top: 100px;
    padding-bottom: 100px;
}
#about h2 {
    font-size: 45px;
}
#about h3 {
    font-size: 28px;
}


/* service */
#service {
    padding-top: 100px;
    padding-bottom: 100px;
    background-image: linear-gradient( 135deg, #FFF886 10%, #F072B6 100%);}
#service h2 {
    font-size: 45px;
}
#service h3 {
    font-size: 28px;
}
#service hr {
    border-color: var(--dark);
}
/* 聯繫資訊 */
#contact {
    padding-top: 100px;
    padding-bottom: 100px;
}
#contact h2 {
    font-size: 45px;
}
#contact li {
    font-size: 20px;
}
#contact i {
    display: inline-block;
    width: 60px;
    text-align: center;
    vertical-align: middle;
}
#contact .sns i {
    width: auto;
    margin-right: 10px;
}
li {
    list-style: none;
}


#gotop {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-color: #f05454;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    right: 30px;
    bottom: 30px;
    position: fixed;
}
#gotop i {
    vertical-align: middle;
    position: relative;
    top: -3px;
}

/* animation */

@keyframes fade-in {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fade-left-in {
    from {opacity: 0;transform: translateX(-100%);}
    to {opacity: 1;transform: translateX(0);}
}
.fade-in {
    animation: fade-in 500ms; 
}
.fade-in-1 {
    animation: fade-in 1s; 
}
.fade-left-in {
    animation: fade-left-in 500ms; 
}
.fade-left-in-1 {
    animation: fade-left-in 1s; 
}

